---
import { Image } from 'astro:assets';
import Base from '../layouts/Base.astro';
import TocNav from '../components/TocNav.astro';
import { tocSections } from '../lib/toc';
import toadStompers from '../assets/images/toad-stompers.webp';
---

<Base title="Toad Stompers">
  <Image src={toadStompers} alt="The Toad Stompers" class="img-logo" />
  <h1>The Toad Stompers</h1>

  <nav class="toc">
    <TocNav sections={tocSections} />
  </nav>
</Base>
