---
import Base from '../../layouts/Base.astro';
import { storyOrder, storySlug } from '../../lib/stories';
---

<Base title="Stories">
  <h1>Stories</h1>
  <ul>
    {storyOrder.map((name) => (
      <li><a href={`/hobbity/stories/${storySlug(name)}/`}>{name}</a></li>
    ))}
  </ul>
</Base>
